<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="infoscreen_noe122.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <infoscreen_noe122.My.MySettings>
            <setting name="alarmart" serializeAs="String">
                <value />
            </setting>
            <setting name="ort" serializeAs="String">
                <value />
            </setting>
            <setting name="alamiert" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="straße" serializeAs="String">
                <value />
            </setting>
            <setting name="infos" serializeAs="String">
                <value />
            </setting>
            <setting name="statusffbv" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="KeineAlarmstufe" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Einsatz1Stufe" serializeAs="String">
                <value />
            </setting>
            <setting name="Einsatz2Stufe" serializeAs="String">
                <value />
            </setting>
            <setting name="Einsatz3Stufe" serializeAs="String">
                <value />
            </setting>
            <setting name="Einsatz4Stufe" serializeAs="String">
                <value />
            </setting>
            <setting name="Einsatz5Stufe" serializeAs="String">
                <value />
            </setting>
            <setting name="Einsatz6Stufe" serializeAs="String">
                <value />
            </setting>
            <setting name="Einsatz1Text" serializeAs="String">
                <value />
            </setting>
            <setting name="Einsatz2Text" serializeAs="String">
                <value />
            </setting>
            <setting name="Einsatz3Text" serializeAs="String">
                <value />
            </setting>
            <setting name="Einsatz4Text" serializeAs="String">
                <value />
            </setting>
            <setting name="Einsatz5Text" serializeAs="String">
                <value />
            </setting>
            <setting name="Einsatz6Text" serializeAs="String">
                <value />
            </setting>
            <setting name="Einsatz1Ort" serializeAs="String">
                <value />
            </setting>
            <setting name="einsatzstufe" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="token" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="tokenffbv" serializeAs="String">
                <value>f3a1nk</value>
            </setting>
            <setting name="pressestatus" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="einsatz1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="einsatz2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="einsatz3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="einsatz4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="einsatz5" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="einsatz6" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="einsatzmaske_aktiv" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="alarmzeit_lockinginformationen" serializeAs="String">
                <value />
            </setting>
            <setting name="abschnitt" serializeAs="String">
                <value />
            </setting>
            <setting name="locking_erstellt" serializeAs="String">
                <value />
            </setting>
            <setting name="locking_storniert" serializeAs="String">
                <value />
            </setting>
            <setting name="locking_refresh" serializeAs="String">
                <value />
            </setting>
            <setting name="locking_alarmierungstext" serializeAs="String">
                <value />
            </setting>
            <setting name="locking_is_erstellt" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="locking_alarmstufen" serializeAs="String">
                <value />
            </setting>
            <setting name="accept" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="denied" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="emergency_number" serializeAs="String">
                <value />
            </setting>
            <setting name="emergency_numberduoble" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="grisu_refresh" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="einsatz2ort" serializeAs="String">
                <value />
            </setting>
            <setting name="token_code" serializeAs="String">
                <value />
            </setting>
            <setting name="kontaktperson_vorname" serializeAs="String">
                <value>ho32lh</value>
            </setting>
            <setting name="kontaktperson_nachname" serializeAs="String">
                <value />
            </setting>
            <setting name="kontaktperson_email" serializeAs="String">
                <value />
            </setting>
            <setting name="letze_einsätze" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="passwort" serializeAs="String">
                <value />
            </setting>
            <setting name="devmod" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="new_log" serializeAs="String">
                <value />
            </setting>
            <setting name="new_log_string" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bottom_text" serializeAs="String">
                <value>NOE 122 Infoscreen 0.2 | powered by Krati Studios | O. Kratochwill, A. Cech, M. Foltin, T. Ploder, F. Wagner | austrian-modding.com</value>
            </setting>
            <setting name="msgbox_text" serializeAs="String">
                <value />
            </setting>
        </infoscreen_noe122.My.MySettings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Interactive.Async" publicKeyToken="94bc3704cddfc263" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.3000.0" newVersion="3.0.3000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>